<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplikacjafiszki">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".nauka_551_600"/>
        <activity android:name=".nauka_501_550"/>
        <activity android:name=".nauka_451_500"/>
        <activity android:name=".nauka_401_450"/>
        <activity android:name=".nauka_351_400" />
        <activity android:name=".nauka_301_350" />
        <activity android:name=".nauka_251_300" />
        <activity android:name=".nauka_51_100" />
        <activity android:name=".nauka_201_250" />
        <activity android:name=".nauka_151_200" />
        <activity android:name=".nauka_101_150" />
        <activity android:name=".nauka_1_50" />
        <activity android:name=".menu" android:screenOrientation="portrait" />
        <activity android:name=".about" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"  />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>